@charset "utf-8";
@import url(main.css);
/* root 설정 */

:root {
    --fontSize-util: 1.5rem;
}

/* 공통스타일 정리 */
.header .inner,
.best_seller,
.new_arrivals,
.tea_type,
.vedio,
.footer .inner {
    max-width: 1440px;
    width: calc(100% - 32px);
    margin: 0 auto;
}

button {
    font-family: 'Times New Roman';
    font-weight: 400;
    line-height: 140%;
    border: 0.1rem solid rgb(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.3);
    /* 배경흐림 */
    

}