@charset "utf-8";
@import url(reset.css);

body {
  background: #f3f0e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh; /* 스크롤 트리거용 */
}

.envelope-wrap {
  position: relative;
  width: 400px;
  height: 400px;
}

.envelope-wrap img {
  position: absolute;
  left: 0;
  width: 100%;
}

/* 초기 상태 설정 */
.envelope-open,
.letter {
  opacity: 0;
 

}

.envelope-flap {
  transform-origin: bottom center;
}

